body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.goods {
    max-width: 1480px;
    margin: 0 auto;
    text-align: center;
}

.cat {
    width: 320px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 25px;
    margin-right: 25px;
    text-align: initial;
}

.cat-picture {
    display: block;
    text-align: center;
    text-decoration: none;
}

.cat-picture:visited .cat-name {
    color: purple;
}

.cat-picture:hover .cat-name {
    color: rgb(173, 50, 50);
}

.cat-picture img {
    transition: opacity 200ms;
    max-width: 250px;
}

.cat-picture:hover img {
    opacity: .7;
}

.cat-picture:hover h1 {
    color: rgb(175, 40, 40);
}

.cat-name {
    display: none;
}

.cat-name:hover h1 {
    color: rgb(175, 40, 40);
}

.cat-name h1 {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 5px;

    transition: color 200ms;
}

.cat-name-tile {

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 5px;

    transition: color 200ms;
}

.cat-category {
    display: block;
    color: rgb(99, 99, 99);
    font-size: .8em;
}

.cat-category a {
    color: inherit;
}

.cat-stars {
    /*  */
}

.cat-price {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(172, 36, 36);
    margin: 5px 0 10px;
}

.cat-price small {
    text-decoration: line-through;
    color: #555;
    vertical-align: bottom;
}

.cat-description {
    font-size: .9em;
    height: 250px;
    hyphens: auto;
}

.cat-description p {
    font-weight: bold;
    margin: 0 0 5px;
}

/* 
    Оценка кошечек
*/

.cat-stars input[type=radio] {
    display: none;
}

.cat-stars label {
    display: inline-block;
    font-size: 24px;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
}

.cat-stars label::before {
    content: '\2605'; /* Заполненная звезда */
    display: inline-block;
    width: 10px;
    color: #D7A728;
}

.cat-stars label:nth-of-type(even)::before {
    transform: scale(-1, 1);
}

.cat-stars input[type=radio]:checked+label~label::before {
    content: '\2606'; /* Незаполненная звезда */
}

.cat-stars:hover label::before {
    content: '\2605' !important;
}

.cat-stars:hover label:hover ~ label::before {
    content: '\2606' !important;
}

/* 
    Кнопки для изменения расположения кошечек
*/

body > [type="radio"] {
    display: none;
}

label[for="list"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIiBmaWxsPSIjYjJiMmIyIj48cGF0aCBkPSJNMCAxMGgzdjNoLTN6TTUgMTBoOHYzaC04ek0wIDVoM3YzaC0zek01IDVoOHYzaC04ek0wIDBoM3YzaC0zek01IDBoOHYzaC04eiIvPjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: 6px 0;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 15px 0 0 15px;
    cursor: pointer;
}

[type="radio"]:checked + label[for="list"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIiBmaWxsPSIjMmIyYjJiIj48cGF0aCBkPSJNMCAxMGgzdjNoLTN6TTUgMTBoOHYzaC04ek0wIDVoM3YzaC0zek01IDVoOHYzaC04ek0wIDBoM3YzaC0zek01IDBoOHYzaC04eiIvPjwvc3ZnPgo=);
}

label[for="tile"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIiBmaWxsPSIjYjJiMmIyIj48cGF0aCBkPSJNMCAwaDZ2NmgtNnpNNyAwaDZ2NmgtNnpNNyA3aDZ2NmgtNnpNMCA3aDZ2NmgtNnoiLz48L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: 6px 0;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
}

[type="radio"]:checked + label[for="tile"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIiBmaWxsPSIjMmIyYjJiIj48cGF0aCBkPSJNMCAwaDZ2NmgtNnpNNyAwaDZ2NmgtNnpNNyA3aDZ2NmgtNnpNMCA3aDZ2NmgtNnoiLz48L3N2Zz4K);
}

/* 
    Расположение кошечек списком
*/

#list:checked~.goods>.cat {
    /*  */
    display: block;
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#list:checked~.goods>.cat::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#list:checked~.goods>.cat .cat-picture {
    float: left;
    width: 20%;
}

#list:checked~.goods>.cat .cat-name-tile {
    display: none;
}

#list:checked~.goods>.cat .cat-name {
    display: block;
}

#list:checked~.goods>.cat .cat-info {
    float: left;
    width: 27%;
    margin-left: 3%;
}

#list:checked~.goods>.cat .cat-info h1 {
    margin-top: 30px;
}

#list:checked~.goods>.cat .cat-description {
    float: left;
    height: initial;
    width: 47%;
    margin-left: 3%;
    margin-top: 30px;
}