.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

@keyframes state-of-day {
    40% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    70% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    80%, 100% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;

    animation: state-of-day 100s steps(30) infinite -16s;
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
        
Нужно реализовать плавный переход между ними и зациклить его.
*/

@keyframes shipping {
    85%, 100% {
        right: 100%;
    }
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: -100px;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation-name: shipping;
    animation-duration: 60s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

@keyframes smokes {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(-20px) scale(1.7);
        opacity: 0;
    }
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
    animation-name: smokes;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}

.smoke-1 {
    top: -25px;
    right: 44px;
    animation-delay: 1s;
}

.smoke-2 {
    top: -25px;
    right: 42px;
}

.smoke-3 {
    top: -25px;
    right: 49px;
    animation-delay: 2s;
}

@keyframes sunrise {
    from {
        transform: rotate(0turn) translateX(-320px) rotate(1turn);
    }
    to {
        transform: rotate(1turn) translateX(-320px) rotate(0turn);
    }
}

.sun {
    position: absolute;
    top: 350px;
    right: 210px;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
    animation: sunrise 100s linear infinite;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
    animation: sun-rotates 20s linear infinite;
}

@keyframes sun-rotates {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
    animation-delay: -1s;
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
    animation-delay: -2s;
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
    animation-delay: -3s;
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
    animation-delay: -4s;
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
    animation-delay: -5s;
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
    animation-delay: -6s;
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
    animation-delay: -7s;
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
    animation-delay: -8s;
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
    animation-delay: -9s;
}

@keyframes clouds {
    85%, 100% {
        left: 100%;
    }
}

.cloud {
    position: absolute;
    left: -200px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;

    animation-name: clouds;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
    transform: scale(-0.4, 0.4);
    animation-duration: 50s;
    animation-delay: -20s;
}

.cloud-2 {
    top: 50px;
    transform: scale(0.6, 0.6);
    animation-duration: 40s;
}

.cloud-3 {
    top: 100px;
    transform: scale(-0.8, 0.8);
    animation-duration: 30s;
    animation-delay: -20s;
}

.cloud-4 {
    top: 170px;
    animation-duration: 20s;
    animation-delay: -2s;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
